[2018-01-04 15:44] AviAvni opened #4 "handle map with union Map<string, DU>"
when tring to serialize map that the value is Descriminated Union there is null reference exception

[2018-01-04 15:50] Zaid-Ajaj commented on #4
Can you elaborate with more details?

[2018-01-04 17:25] AviAvni commented on #4
Try to serialize
[code]
I get exception in Bson.rewriteKey

[2018-01-04 18:17] #4 closed

[2018-01-04 18:20] AviAvni commented on #4
Great can you push the fix to nuget?

[2018-01-04 18:32] Zaid-Ajaj commented on #4
Thanks for the details. The `rewriteKey` function will now ignore maps because these are not nested types.

I already pushed the fix to nuget, version 0.8.1 is now being indexed :smile:

[2018-01-04 18:39] AviAvni commented on #4
Thank you very much great job it's help me a lot

[2018-04-23 04:47] humhei opened #7 "Serializing and deserializing f# functions is not supported"
Today i tried to do make a model something like this
[code]
When i deserialized it from database, below exception was thrown
[code]

[2018-04-23 08:35] Zaid-Ajaj commented on #7
Serializing arbitrary functions into Bson (or any persistence mechanism) doesn’t really make sense, what do you expect the library to do?

[2018-04-23 09:04] humhei commented on #7
Currently i use it as `property expression`   to support dynamic ORM in `fsx`
I need to transform  fsharp type bson datas to `csv` so it can be invoked by other UI program
[code]

**items** is retrived from litedb  so i think
[code]
should also be retrived from litedb
![image](https://user-images.githubusercontent.com/25994449/39116677-9f0bd3de-4717-11e8-9a01-4e6e8188eb2c.png)

[2018-04-23 09:07] humhei commented on #7
I tried https://github.com/Microsoft/fsharplu it taked the some exception
while https://github.com/mbraceproject/FsPickler can serialize and deserialize function but is not compact to https://github.com/mbdavid/LiteDB

[2018-04-23 09:15] humhei commented on #7
For me there are two solutions
- Making a compact library between dotnet json and FsPickler
- Makeing `it.Brand,it.Art,it.Size,it.Barcode,it.Image,it.Material` as a text and then create a property expression from this text

[2018-04-23 09:24] humhei commented on #7
I think i will take some time to see if the first solution is  feasible or not

[2018-04-23 09:26] Zaid-Ajaj commented on #7
Another simpler solution is to persist the fields as a list of strings such as [“Brand”; “Art”] and then:

dynamicallyRead item [“Brand”; “Size”] => [“Play ...”; “35” ]

Where dynamicallyRead uses reflection on the fields of items to retrieve their values

[2018-04-23 09:31] Zaid-Ajaj commented on #7
Nested property values can have a path i.e. [“NestedField.PropName”]

A general solution to persisting arbitrary logic in functions is not a good fit for this particular problem, there is always a simpler solution

[2018-04-23 09:37] humhei commented on #7
Thanks for answer 😀

[2018-06-05 22:14] Zaid-Ajaj opened #8 "fullSearch doesn't normalize the Id property name when constructing the query"
`albums.fullSearch <@ fun album -> album.Id @> pred` doesn't work because the property `Id` is used as is, instead it should be normalized to `_id` the same way the document is stored

[2018-06-05 22:16] #8 closed

[2018-07-13 00:21] humhei commented on #7
I still encounter this problem 😓
follow is my AST
[code]

Now i want to add a `Filter` to `Product` to conditionally determine whether this product take effect
The logic of product taking effect is arbitrary ,Because customs 's logic is always not the some :)
For example
- the customer said the item with ART contains "CROSS DOCK" doesn't has this product
- the brand named with "PLAY   URBAN" shoul

[2018-07-13 00:57] Zaid-Ajaj commented on #7
Your business logic should be in your code, not in your storage system. The only reason you would store arbitrary filters *inside* the database, is to be able to update them by hand (without the application) which I don't think you actually want.

You would put this kind of logic in place where you are reading the values from the database in a `where` query:
[code]
otherwise if you really needed t

[2018-07-20 01:12] Zaid-Ajaj commented on #7
I am assuming you solved your issue, if it happened to be the case that you still need to serialize or deserialize functions, then just use a `byte[]` as the data format to store the function with FsPickler for converting between the bytes and functions. This way you don't need to integrate FsPickler with this library internally

[2018-07-20 01:12] #7 closed

[2018-07-20 01:25] humhei commented on #7
I like this way 👍 ,It's flexible.
I may finally directly write function in `.fsx` file (do everything in it,assum it a middleware to database and my ui program)

[2018-07-20 01:30] humhei commented on #7
Thanks for your answer again! 😄

[2018-07-20 01:48] Zaid-Ajaj commented on #7
@humhei No problem, happy to help ;)

[2018-07-27 02:18] humhei opened #9 "Desireze (DataTime option) throw exception"
![image](https://user-images.githubusercontent.com/25994449/43297912-52a5615e-9186-11e8-8bdf-8f13c5ea3d16.png)

[2018-07-27 02:53] humhei commented on #9
Thanks!
![image](https://user-images.githubusercontent.com/25994449/43298935-d735d904-918a-11e8-93bc-68be95724853.png)
@Zaid-Ajaj
If you are busy with others
Feel free to assign it to me (As i opened this issue)

[2018-07-27 03:30] Zaid-Ajaj commented on #9
Thanks @humhei I got it fixed, published with version `2.4.0`, it should available soon from nuget :smile:

[2018-08-03 23:36] UnoSD opened #11 "Unable to deserialize JsonProvider types"
Hi, thank you for your library.

I successfully serialized the type generated by the `JsonProvider` type provider, but when I try to deserialize I get an exception:

[code]

would you be able to suggest a workaround or fix it?

Thank you.

[2018-08-03 23:51] humhei commented on #11
`{ folders = folders } `
Can you show me the record type definition?

[2018-08-04 00:11] Zaid-Ajaj commented on #11
Hi @UnoSD,

This won't work for many reasons, the first reason is the storing values with that have interface as a type, this cannot be deserialized because (like any deserialization library) the deserializer doesn't know which concrete implementation it should use

The second reason this won't work, is because your document doesn't have an `id` or `Id` property which is required, from the README:

[2018-08-04 03:36] #11 closed

[2018-08-04 10:04] UnoSD commented on #11
@humhei it's just `{ folders : F.Folder list }`

@Zaid-Ajaj thanks for the reply,

my document has the Id, I rushed to write the issue yesterday and forgot to add it.

My bad I didn't investigate at all before writing the issue, but couldn't the serializer figure out the concrete type through reflection and write it to the database for deserialization? maybe through an option (WriteOriginalType=tr

[2018-08-05 11:00] Zaid-Ajaj commented on #11
@UnoSD I can probably make it a built-in feature but I would rather leave it out and keep the library simple, from experience I can tell you that if I add every use-case as a built-in feature, the library becomes a big mess of a kitchen sink.

There are two simple workarounds:
 - Use an intermediate type like I explained in [this comment](https://github.com/Zaid-Ajaj/LiteDB.FSharp/issues/11#issuec

[2018-08-06 08:05] UnoSD commented on #11
@Zaid-Ajaj thanks for the reply, I ended up writing a custom mapper that maps from raw JSON to BsonDocument (and therefore from FSharp.Data.JsonValue to BsonDocument and vice-versa). Happy to share it although I understand you may not want to add it to the library.

[2018-08-06 08:59] Zaid-Ajaj commented on #11
@UnoSD I am glad you could figure it out, maybe you could share it for others who come across this issue :)

[2018-08-15 01:20] humhei opened #13 "Deserialize (Record With Optional Record ) throw exception"

[2018-08-15 02:46] humhei opened #15 "Add support to (de)serialize double type (fsharp float)"

[2018-08-15 07:38] #15 closed

[2018-08-15 07:38] #13 closed

[2018-09-05 08:52] humhei opened #17 "RegisterType is broken"
See https://github.com/mbdavid/LiteDB/wiki/Object-Mapping
[code]
I cannot catch the code in `function` any more
Should we fix it?

[2018-09-06 11:08] #17 closed

[2018-11-09 17:24] tonyx opened #20 "minor differences in syntax from the doc, missing FindMany for collections, DbREf issue"
This is my configuration.

**Versions:**
- LiteDb version 4.1.4
- LiteDb.Fsharp version 2.1.6
- Mono JIT compiler version 5.12.0.309 (mac os x Mojave)

**minor differences in syntax**:

`result = albums.findOne <@ fun album -> album.Id = 1 @>`
does not typecheck, whereas the following does:
`result = albums.FindOne (fun album -> album.Id = 1)
`

**findMany**

Missing "findMany" (or "FindMany") met

[2018-11-10 02:20] humhei commented on #20
With DbRef

**Insertion:**
You should add a company first
And then insert order with this company

**Query:**
You should use `inculde` expression first to expand DBRef

**See this test for deatil**
https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp.Tests/Tests.DBRef.fs#L46
[code]

[2018-11-10 02:30] humhei commented on #7
Also find a  alternative way want to share you
@Zaid-Ajaj
Using excel UDF by Excel DNA https://github.com/Excel-DNA to store functions
Moreever, With [Dynamic array formulas](https://support.office.com/en-us/article/dynamic-array-formulas-in-non-dynamic-aware-excel-696e164e-306b-4282-ae9d-aa88f5502fa2) is really cool

[2018-11-10 14:52] Zaid-Ajaj commented on #20
Hello @tonyx, how exactly does this  `result = albums.findOne <@ fun album -> album.Id = 1 @>`  not type-check? What error do you get?

[2018-11-10 15:57] tonyx commented on #20
Hi @Zaid-Ajaj:

**compile error:**
"error FS0039: The field, constructor or member 'findOne' is not defined. Maybe you want one of the following:   FindOne"

**the following compile and works as expected instead:**
`let first = users.FindOne(fun x -> x.Id = 1)`

If I try to autocomplete starting typing _Find_ I get:
_Find
FindAll
FindById
FinOne_

The method _Find_ works ok to replace _findMany_:

[2018-11-10 16:03] Zaid-Ajaj commented on #20
Aah you need to open `LiteDB.FSharp.Extensions` to get these lower-case functions. I didn't know that linq expressions could be adhoc-converted from fsharp functions automatically, hmm maybe they aren't needed at all

[2018-11-10 16:45] tonyx commented on #20
👍

[2018-11-12 00:31] #20 closed

[2019-01-27 04:46] akucheck opened #21 "testCases "Bson.readDate works" and "Reading Bson values as DateTime works" both fail"
On a fresh install, while running ./build.sh these 2 testCases fail on the Day conversion with an offByOne error.

I'm assuming this is due to a change to LiteDB but have not been able to confirm that yet.

![litedb fsharp build errors](https://user-images.githubusercontent.com/61386/51796560-12cc1680-21ab-11e9-9dde-f454bebd9fa9.jpg)

[2019-01-27 05:05] humhei commented on #21
I can not repro it after i update LiteDB locally (All tests are passed)
What's the exception does it throw?

[2019-01-27 05:19] humhei commented on #21
You can set breakpoint these places to see what the error is
https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Json.fs#L181
https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Json.fs#L249

[2019-01-27 16:46] akucheck commented on #21
setting breakpoint at #181:
![debugging litedb fsharp-1](https://user-images.githubusercontent.com/61386/51803987-0af28d80-2210-11e9-9c02-6df884680e44.jpg)

[2019-01-27 16:48] akucheck commented on #21
did not mean to close (sorry).
after setting breakpoint at #181:
![debugging litedb fsharp-1](https://user-images.githubusercontent.com/61386/51804012-53aa4680-2210-11e9-90d1-90c027c4b9a2.jpg)

[2019-01-27 16:59] Zaid-Ajaj commented on #21
Hello @akucheck,

I think this might be the case, I wil investigate, thanks a lot for reporting the issue :)

[2019-01-30 00:17] #21 closed

[2019-01-30 00:19] Zaid-Ajaj commented on #21
@akucheck Seems to be fixed, can you pull a fresh clone and run the tests again? :smile:

please re-open the issue if the problem persists

[2019-01-30 00:21] akucheck commented on #21
Happy to.

ak

On Tue, Jan 29, 2019 at 4:19 PM Zaid Ajaj <notifications@github.com> wrote:

[2019-01-30 00:24] akucheck commented on #21
Zaid-Ajaj:

Works like a champ.  thanks!

ak

On Tue, Jan 29, 2019 at 4:19 PM Zaid Ajaj <notifications@github.com> wrote:

[2019-02-18 01:10] akucheck opened #23 "Your platform does not support FileStream.Lock"
It appears that LiteDB now needs a config setting for mode=exclusive on MacOS. I cannot find a way to do this. On initial load, once compile has finished I'm getting this:
![litedb fsharp mode error](https://user-images.githubusercontent.com/61386/52922538-d174e580-32d6-11e9-9e29-4fd985c6848f.jpg)

[2019-02-18 01:20] Zaid-Ajaj commented on #23
Hello @akucheck, looks like you are running tabula-rasa project. Setting the connection string happens in [here](https://github.com/Zaid-Ajaj/tabula-rasa/blob/master/Server/Storage.fs#L31-L33) in case you using the local database, which uses the absolute file name of the databse as the connection string.

You can override that and use the following instead:
[code]
Can you check whether this fixes

[2019-02-18 01:31] akucheck commented on #23
It does indeed fix the problem.  Thanks much!

On to playing with this puppy to learn more about SAFE-stack.

ak

On Sun, Feb 17, 2019 at 5:20 PM Zaid Ajaj <notifications@github.com> wrote:

[2019-02-18 01:50] #23 closed

[2019-04-24 16:19] srlopez opened #24 "let a1 = Bson.deserialize<Album> result - LiteDB Hello World from a newbie"
This is my very first contact with LiteDB, and with F #. And I do not know how to collect the value of a Document after reading it from the DB.
What is wrong with what I have done?
[code]

The error on line `let a1 = Bson.deserialize<Album> result` is:
`error FS0001: The type 'Album' is not compatible with the type 'BsonDocument' [..../app.fsproj]`

Thanks from a newbie

[2019-04-24 16:24] Zaid-Ajaj commented on #24
Hello there @srlopez,
You don't need to call `Bson.deserialize<Album>` on the `result` value because it is *already* deserialized from a document to an `Album` type. So just write:
[code]

[2019-04-24 16:27] Zaid-Ajaj commented on #24
Also, quotations should be optional, you write this instead:
[code]

[2019-04-24 18:26] srlopez commented on #24
Thanks @Zaid-Ajaj

[2019-04-24 18:41] #24 closed

[2019-04-24 18:59] Zaid-Ajaj commented on #24
No problem @srlopez let me know if you encounter any problem :)

[2019-04-24 19:00] srlopez opened #25 "Unhandled Exception-Method not found: ..LiteRepository.Insert... at ...FSharp.Extensions.LiteRepository.insertItem..."
Continuing with my first steps, I find that I still need to include some module.
I get the following error addressed from the following line: `LiteRepository.insertItem eorder`

[code]

[code]

[2019-04-24 20:37] Zaid-Ajaj commented on #25
Hmm looks like a nasty exception we got here, this is usually due to assemblies not properly loaded. I will need a bit more information:
 - What version of LiteDB.FSharp are you using
 - Which `dotnet --version` or which target if you are using Full Framework?
 - Are you using paket or nuget?

[2019-04-25 07:40] srlopez commented on #25
On my fsproj file
[code]
And this are the version
[code]
I just try yo reproduce your examples on README.md

By the way. ¿Is it possible to integrate F# Classes, like Records, to save to LiteDB?

[2019-04-25 09:37] Zaid-Ajaj commented on #25
Thanks a lot @srlopez, I will investigate this further. Though these example should have worked because they are all unit-tested.

[2019-05-04 07:46] srlopez opened #26 "Plans for [<BsonIgnore>]"
Hello, as you can see in the [F# forum](https://forums.fsharp.org/t/f-with-litedb-bsonignore-is-ignored/776). Studying how to introduce my students in F#, we were converting a small java project to F#, and to avoid philosophical discussions about SQL and ORM, **LiteDB is the perfect solution**. But the attributes calculated according to other attributes are also saved in LiteDB, we have used `[<Bs

[2019-05-04 09:50] srlopez opened #27 "Unhandled Exception: ... invalid name ... at LiteDB.BsonDocument.set_Item in 'mutable' field"
The `mutable` attribute avoids insert in LiteDB, or passing through Json's encoder, something happens that the name of the field is modified.
[code]
The field you are trying to modify `Manufacturer` seems to change its name `Manufacturer@'`
The full error is:
[code]

Thanks

[2019-05-04 10:05] humhei commented on #27
```mutable Manufacturer```
[dnspy](https://github.com/0xd4d/dnSpy): Decompiled c# codes
[code]

Converter will try to serialize both property `Manufacturer` and  field `Manufacturer@`

```immutable Manufacturer```
[dnspy](https://github.com/0xd4d/dnSpy): Decompiled c# codes
[code]

Converter will only try to serialize both property `Manufacturer`

[2019-05-04 10:10] srlopez commented on #27
@humhei
How can I fix it? It's a problem of my code or it's an authentic issue?

[2019-05-04 10:13] humhei commented on #27
In fsharp world
mutable fields is not recommanded(Not thread safe)

You should create a new record instead of setting property mutable

### workaround
[code]

[2019-05-04 11:04] Zaid-Ajaj commented on #26
Hello @srlopez, I finally got around and made allocated some time to work on these issues. Ok, first of all the `BsonIgnore` attributes isn't taken into account when persisting documents from records. This choice is by design as record *fields* in F# should not depend on each other, instead you should use calculated using either members or standalone functions:
[code]
here you see the *member* `Ig

[2019-05-04 11:06] Zaid-Ajaj commented on #27
Hmm even though it is not *recommended*, I don't see an issue in supporting `mutable` constructs in the library, I will work on it...

[2019-05-04 13:01] srlopez commented on #27
And  [<BsonIgnore>] toó, please

[2019-05-04 13:22] Zaid-Ajaj commented on #27
I am afraid that `[<BsonIgnore>]` doesn't really make sense within F# records. Using a member within the record is the way to go as it will be used to compute properties derived from the record fields and doesn't get persisted (= ignored) as follows:
[code]

Aren't these members good enough for your use-case?

As for `[<BsonField>]` I think it is possible but will require more work, I will open an

[2019-05-04 14:03] #27 closed

[2019-05-04 14:10] Zaid-Ajaj commented on #25
Found it, you are using incompatible versions of `LiteDB` and `LiteDB.FSharp`:
[code]
The fix is to remove `<PackageReference Include="LiteDB" Version="4.1.4" />` from your package references and run `dotnet restore && dotnet run` because the right version will be pulled in a dependency of `LiteDB.FSharp`, so your project file will look something like:
[code]
 Can you please confirm the fix when y

[2019-05-04 14:10] #25 closed

[2019-05-04 14:12] Zaid-Ajaj commented on #27
Fixed and released in version `2.8.0` to nuget, should be available really soon when nuget does it's magic. Now I decided to take control of how the fields are marshalled, so now these mutable records will work just fine :smile:

[2019-05-04 17:25] srlopez commented on #26
You are right.
... it is better to showcase best practices with idiomatic F# code: no mutation, only data transformations.
Good aproach to 'Ignore' members.
But my opinion, that sure that is incorrect since I am also a rookie with F#, is that as that attribute was in the original in C#, a wrapper should cover it, regardless of whether it is idiomatic or not in the language in which the wrapper is

[2019-05-04 17:53] srlopez commented on #26
Without `InMemory`, and persisting data to `use db = new LiteDatabase("data.db", mapper)`.
Running LiteDB.Shell like this:
[code]
As you can see, member `Ignored` is persisted, with the ID original in code `0`.
Some thing is not working to me.
Thanks

[2019-05-04 18:02] Zaid-Ajaj commented on #26
I build a lot of these "wrappers" and usually I try to take just the good parts that make sense to use within F#

Have updated your nuget of `LiteDB.FSharp` from `2.7.0` to `2.8.0`? :smile:

[2019-05-04 18:21] srlopez commented on #26
OMG!
that's was the problem,
[code]
and now `Ignored` is ignored.
Thanks

[2019-05-04 18:34] Zaid-Ajaj commented on #26
Glad to hear that it is working! :smile:

I will consider this issue as resolved, if you encounter any problem or need any help, just let know!

Cheers

[2019-05-04 18:34] #26 closed

[2019-05-04 19:05] srlopez commented on #25
Confirmed & Thanks!
Removing `<PackageReference Include="LiteDB" Version="4.1.4" />` from `app.fsproj` and `dotnet restore && dotnet run` print passed! on the screen:
[code]
Thanks

[2019-05-05 08:25] srlopez opened #28 "The client code that uses the library must know a lot about it."
Hi again,
Sorry for the list of issues I'm publishing, but I do it for the benefit of the code and to be clearer readability.

I think that the code that uses the library must know a lot about it.

First: **The code must know about the name of the values**.
When I want to delete a record by its identifier, expressing it clearly.
The code **`computers.Delete(Query.LT("Id", BsonValue(myPc.Id-3)))`**

[2019-05-05 09:53] Zaid-Ajaj commented on #28
Hello @srlopez, you seem to have found the problem that this library solves for F# ;) The description says: "... with type-safe query expression through F# quotations" which is how you should query your data without needing to know about `BsonDocuments`.

In the README there are many examples of querying the data using quotations but you have to open the namespace `LiteDB.FSharp.Extensions` and yo

[2019-05-05 11:07] srlopez commented on #28
Thanks again .
Learning a los width you.

[2019-05-05 13:26] Zaid-Ajaj commented on #28
Is the problem resolved? I will close this issue for now, please re-open or open an other issue if encounter other problems

[2019-05-05 13:26] #28 closed

[2019-05-05 14:19] srlopez commented on #28
Hello again @Zaid-Ajaj .
First of all sorry, I haven't read the documentation with the attention it deserves. Serious error, very serious, on my part.

Your solution (the one I will use for my projects), very correct, functional, simple and very academically precise, leads me to raise a deeper doubt (I really like to talk about deep concepts, imagine we are with a few beers), and in this case the

[2019-05-05 16:34] srlopez commented on #28
There's still something that doesn't work for me when I id.
    `computers.delete(fun c -> c.Id < 4)` or
`    computers.findMany (fun c -> c.Id>3) |> Seq.iter (printfn "%A")`
do not execute anything, do not send error messages.
But if I use any other property it works.
`    computers.findMany (fun c -> c.CPU = Intel) |> Seq.iter (printfn "%A")
` or `computers.delete(fun c -> c.Manufacturer.Contain

[2019-05-05 20:03] srlopez opened #29 "Value Id in a function on the Extensions, I don't get any results, nor do I get any error"
When I use the value Id in a function on the extensions, I don't get any results, nor do I get any error. On the other hand with other values everything seems to work correctly.
    `computers.delete(fun c -> c.Id < 4)` or
`    computers.findMany (fun c -> c.Id>3) |> Seq.iter (printfn "%A")`
do not execute anything, do not send error messages.
But if I use any other property it works.
`    compute

[2019-05-06 20:25] srlopez opened #30 "How to use an Id well in Classes, and save mutable values to LiteDB"
Hi @Zaid-Ajaj,
I would like to use an autoincremental `Id` also in Classes. In the documentation it is very well explained that when it comes to `records` we have to classify it as `[<CLIMutable>] `and put `Id = 0` so that the Identifier autoincrements itself.
But that is not so established with the classes. I ask if there is a plan to do it also in classes?

In the meantime testing witdh this exa

[2019-05-06 23:31] humhei commented on #29
This is a bug? @Zaid-Ajaj

I test it locally

computers.Delete(fun i -> i.Id < 4) take effect.
While computers.delete(fun c -> c.Id < 4) doesn't do anything

[2019-05-06 23:36] humhei commented on #29
The same to
computers.findMany (fun c -> c.Id>0) (yield nothing)
computers.Find (fun c -> c.Id>0) (yield actual results)

[2019-05-07 00:09] humhei commented on #30
### AutoID in classes
You should set Val id with get and set;
https://github.com/mbdavid/LiteDB/blob/0864d8f888af427571487b84652567c1fd78d97f/LiteDB.Tests/Database/AutoId_Tests.cs#L12

I don't know how does it get worked With a readonly property

[code]

By default, field is not  expected to serialized by converter(While property is)

The  purpose of Bsonfield in official Reposity is only to specf

[2019-05-07 14:23] srlopez commented on #30
Thanks @humhei, mutable member doesn't need to be in constructor if they are initialized. I'm learning.
[code]
They are both saved to DB. Thanks
But:
I still don't know which is the correct way to use Id in a Class, if I want the DB to assign them automatically.
And if I continue using `'ObjectId'` as the type of `Id`,  `let result = articles.findOne <@ fun a -> a.Id <= myArticle.Id @>` the error

[2019-05-07 23:00] humhei commented on #30
This is because that [ObjectID](https://github.com/mbdavid/LiteDB/blob/0864d8f888af427571487b84652567c1fd78d97f/LiteDB/Document/ObjectId.cs#L12) doesn't implement [IComparable](https://docs.microsoft.com/en-us/dotnet/api/system.icomparable?view=netframework-4.8) interface

I am using int  instead of ObjectId

If you want use ObjectId anyWay

you should implement IComparable yourselt

For example
[

[2019-05-08 00:52] Zaid-Ajaj commented on #29
Indeed this doesn't work in with identity fields because I don't expect to query a *range* of elements using their ID, it doesn't make sense unless you want an *exact* element by it's ID which is why:
 - Only the = operator is supported (but now does with the other operators too thanks to @humhei)
 - ObjectID doesn't implement IComparable

[2019-05-08 00:52] #29 closed

[2019-05-08 01:11] Zaid-Ajaj commented on #30
As explained in #29 there is a reason that comparison operators don't work with identities: it doesn't make sense. The `Id` property to *identify* a single record of data, not a range of records. Which is also why `ObjectID` doesn't implement `IComparable`: it doesn't need to.

As for using classes in LiteDB.FSharp, I don't know *why* you would do that because again this introduces tight coupling

[2019-05-08 01:11] #30 closed

[2019-05-13 15:19] vshapenko opened #32 "Mono linker could not resolve a proper method"
Hello! I am trying to use your library for my fabulous project, and i am getting following  error:
Mono.Linker.MarkException: Error processing method: 'LiteDB.LiteRepository LiteDB.FSharp.Extensions/LiteRepository::insertItem(a,LiteDB.LiteRepository)' in assembly: 'LiteDB.FSharp.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve System.Void LiteDB.LiteRepository::Insert(!!0,System.String)

[2019-05-14 00:00] humhei commented on #32
[code]
Hello.
What is the type of a?
[LiteRepository.insertItem](https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Extensions.fs#L98) is a single wrapper to LiteRepository.Insert
[code]

[2019-05-15 09:00] vshapenko commented on #32
Hello, this issue should be closed. My bad

[2019-05-15 09:00] #32 closed

[2019-05-15 09:04] vshapenko opened #33 "Serialization is broken on Xamarin.Android"
According to
https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/FSharpBsonMapper.fs#L32
https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Bson.fs#L160
Type.GUID is used to determine  if types are equal, but this does not work in Xamarin.Android. Looks like these properties are always same. Looks like Type.FullName is more safe in case of determining type equali

[2019-05-15 12:27] #33 closed

[2019-07-24 04:29] humhei opened #36 "when querying without `include` DBRef idenetity is always resolved as 0"
[code]
 this tests is failed while below test with `Include(convertExpr <@ fun c -> c.Company @> ` is passed
[code]

[2019-07-24 10:42] #36 closed

[2019-09-27 06:40] humhei opened #39 "Cannot deserialize Record with option of reference type when Value is None"
![image](https://user-images.githubusercontent.com/25994449/65747678-983a0900-e134-11e9-95a8-b37825c5c61e.png)

![image](https://user-images.githubusercontent.com/25994449/65747749-c881a780-e134-11e9-9d6f-3f4eebb97b9c.png)

This test is failed

[2019-09-27 08:33] #39 closed

[2019-10-04 15:00] aspnetde opened #41 "Single Case Discriminated Unions as Identifiers"
I am just playing around with the library and it works great so far. In the concrete use case I am considering to use it, however, we are using single case discriminated unions for ids quite heavily. The good news: Inserting records which use a DU as id works.

But I noticed that querying for a record that has just been inserted does not work. Also indexing isn't working. Sample:

[code]

`collect

[2019-10-04 15:05] Zaid-Ajaj commented on #41
Hello Thomas,
Thanks a lot for the detailed issue! It should be possible to tell the mapper that single case unions are specials and that the union should be erased (maybe an option for the mapper?), both when serializing and deserializing. However, if we were to implement the feature, then it must be backwards compatible.

Do you want to give it a try? PRs are always welcome :smile: I can give it

[2019-10-04 15:10] aspnetde commented on #41
Fair enough 😄

I am not sure my F# knowledge is advanced enough for solving this in sufficient time. But I could try to find some spare time to look into it.

Do you have some hints on where to start?

[2019-10-04 15:16] Zaid-Ajaj commented on #41
This [part](https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Json.fs#L236-L245) is for serializing the value and this [part](https://github.com/Zaid-Ajaj/LiteDB.FSharp/blob/master/LiteDB.FSharp/Json.fs#L297-L320) is for deserializing the value back into the object

[2019-10-04 15:59] aspnetde commented on #41
Thanks. I took a quick look and added a failing test (*). It seems like serializing works as expected. But I don't see how, where, or when the `ReadJson` method would be invoked. A break point set there isn't hit when running the test.

(Furthermore, I assume that [this one here](https://github.com/haf/Newtonsoft.Json.FSharp/blob/master/src/JsonNet/Converters/UnionConverter.fs) contains all the ne

[2019-10-04 20:29] aspnetde commented on #41
In case I will never be able to finish this. This proofs that the data is correctly written to the database:

[code]

The reason the `ReadJson()` method is never called when `FindOne()` is being applied, is that no record is being found.

- What is stored: `{"_id":{"SingleCaseDU":42}}`
- What the query for `FindOne()` looks like: `(_id = {"Tag":0,"Item":42})`

To be continued.

[2019-10-07 11:55] aspnetde commented on #41
Using `FindById()` works when the id gets serialized with the internal utility:

[code]

So what is left is `FindOne()` which does not work yet. Given that the internal serialization used by LiteDB.Fsharp for discriminated unions is okay (`{"SingleCaseDU":42}`), the dead end here is the `QueryVisitor` class of LiteDB, which unfortunately is [internal](https://github.com/mbdavid/LiteDB/issues/596).

[2019-10-07 12:16] Zaid-Ajaj commented on #41
Have you tried using the extensions in the `LiteDB.FSharp.Extensions` module? there are specific extension methods for `LiteCollection<'t>` that should work nicely with lambdas to define the search predicate.

[code]
I will look into why FindOne doesn't work, sometime this week

[2019-10-07 12:22] aspnetde commented on #41
Interesting, I wondered if the readme is wrong or why all the methods are written in lower case there - now I know ;). No, I did not use the extensions yet. Doing so results in an exception, as a DU isn't a proper BsonValue.

[code]

So I guess there would be a serialization necessary for that case. But I am not sure if it's appropriate to just handle DU's differently here then the rest, from your

[2019-10-07 13:00] Zaid-Ajaj commented on #41
I used lower case functions for fsharp queries to distinguish them from the ones used with C# (upper case). You should almost always use the lower case ones.

My bad, should be fixed now, update nuget from 2.13.0 -> 2.14.0

[2019-11-18 21:51] BennieCopeland opened #42 "FSharpBsonMapper ignoring custom type registrations"
I'm using NodaTime LocalDate types on my records that I want to serialize as strings and deserialize back to LocalDates . The FSharpBsonMapper is ignoring the custom type mappings.

[2019-11-18 22:40] BennieCopeland commented on #42
After code splunking, I was able to work around the issue with a custom JsonConverter like so:

[code]

[2019-11-18 22:42] Zaid-Ajaj commented on #42
Hello there @BennieCopeland, I am glad you were able to find the workaround! Do we need to add something from library point of view? (Maybe some docs I would guess)

[2019-11-18 22:59] BennieCopeland commented on #42
Hi @Zaid-Ajaj, docs would be nice, yes. From a library point of view, maybe not make the converters global. I could see it potentially being useful to have different converters/mappers for different LiteDatabase files. And either always include the FSharpJsonConverter and provide a second method to replace it, or document that the developer has to provide it along with their custom converters. I'm

[2019-12-09 11:15] humhei opened #43 "Local datetime is not deserialized successfully"
![image](https://user-images.githubusercontent.com/25994449/70431369-df8b3100-1ab7-11ea-8364-e1b4e86ffd76.png)

[2019-12-09 11:16] humhei commented on #43
I will send a PR to fix this

[2019-12-09 11:41] humhei commented on #43
Seems It's the default behavior of LiteDB.JsonSerializer
Not related to this repository

[2019-12-09 11:41] #43 closed

[2020-02-14 09:02] sandeepc24 opened #45 "Update Litbedb to latest version"
Could LiteDB.FSharp be updated to use latest LiteDB so that LiteDB Studio can be used? LiteDB Studio is compiled with latest version of LiteDB and as a result of opening a db with it forces db to upgrade to latest version of LiteDB and then it does not work with LiteDB.FSharp.

[2020-02-14 09:23] Zaid-Ajaj commented on #45
Sure thing! I will upgrade `LiteDB` To latest and update the major version of `LiteDB.FSharp` to 3.0.0

[2020-02-14 09:30] Zaid-Ajaj commented on #45
OK, looks actually like there many breaking changes in order to upgrade to latest `LiteDB` version 5.0.0 so it might take a while before I can get back to it. Anyone who want to take a stab at the issue, please do 🙏

[2020-02-29 09:22] sandeepc24 opened #46 "DateTime read back from db is incorrect"
This is not an LiteDB.FSharp but I was wondering if it can be fixed in FSharpBsonMapper?

[2020-02-29 18:47] Zaid-Ajaj commented on #46
Hello @sandeepc24, thanks a lot for filing the issue! If there is something wrong with a DateTime roundtrip, I would like to fix it ASAP, perhaps you have a small example where the library isn't working according to your expectations? Please share it here so I can test against it.

[2020-02-29 18:48] Zaid-Ajaj commented on #41
Hello @aspnetde, is this issue considered resolved? If that is the case, can you please close the issue or let know so that I could do that!

[2020-03-01 00:13] humhei commented on #46
Maybe related to #43
My workaround is using timestap `int64` instead of DateTime.

This is because even in Lite.DB repository, There is also a default culture setting to decide whether to deserialize datetime using local culture or global culture..(if i memory currently, it always using local culture)

While in litedb.fsharp, the behavior is a litter different from liteDb.
So the error was occured

[2020-03-01 02:03] sandeepc24 commented on #46
After more investigation it looks like the datetime is stored as UTC but not converted back to local time. This caused the confusion.

I think it is incorrect for LiteDB to convert DateTime to UTC, it is a db and should just store the value as given to it without converting it to UTC.

To fix this I could add a function to `ResolveMember` and convert the value to LocalTime.

[2020-03-01 02:09] sandeepc24 commented on #46
It looks like the Deserialize method is not working, have a look at the following code

[code]
Deserialize function is never called.

[2020-03-01 02:31] sandeepc24 commented on #46
A workaround is to store dates as UTC (DateTime.Kind = Utc) then there is no conversion and the values read back are correct.

[2020-03-02 06:20] Zaid-Ajaj commented on #46
Hello @sandeepc24, it is indeed correct that `DateTime` values are stored as `UTC` times because we can't make assumptions about the local time of the application you are using. For example, if you are using LiteDB in a website, then a local time has different meaning for different users across different time zones, so the default is to use UTC and convert to Local Time as needed.

However, since

[2020-03-02 07:40] aspnetde commented on #41
I think we can consider this done 👍

[2020-03-02 07:40] #41 closed

[2020-03-02 07:58] humhei commented on #46
good idea 👍
BTW, we should apply `convertDateTimeUtc` option both in **serilization** and **deseration**

[2020-04-07 01:56] TeaDrivenDev commented on #45
It would be nicer for the user to disallow installing LiteDB.FSharp with LiteDB 5 in the mean time, instead of having them run into that MissingMethodException. Would you be interested in a PR locking the version range for the LiteDB dependency to <5?

[2020-04-07 02:05] TeaDrivenDev opened #47 "Update build to use FAKE 5"
The build script currently uses the FAKE 4 API and runner, which are deprecated and will be removed at some point. Would you be interested in a PR moving it to FAKE 5? This has no immediate advantage, but would be a future proofing step.

[2020-04-07 02:20] Zaid-Ajaj commented on #45
@TeaDrivenDev Sound like a good idea, please go for it :pray:

[2020-04-07 02:20] Zaid-Ajaj commented on #47
A PR for that would be awesome! :smile:

[2020-04-08 12:13] #47 closed

[2020-04-13 01:52] TeaDrivenDev opened #50 "build.sh doesn't work anymore - replacement needed?"
When doing #47, I completely overlooked the `build.sh` script, which a) is now largely obsolete, because Mono isn't needed anymore, and b) doesn't work anymore, because there's no `fake.exe`. However, the build script now requires the .NET Core FAKE runner, which the repository doesn't provide a way of obtaining.

There are two (or three) ways of dealing with this:
- Just delete `build.sh` and exp

[2020-04-29 16:57] magnushammar commented on #46
DateTime will always be context sensitive and should imo not be touched (converted) by the storage layer.  DateTimeOffset is needed to properly record Local & UTC time.

[2020-05-28 05:44] ericnething opened #52 "Opqaue types do not work correctly"
I am using opaque types to wrap `int`s for the different types of Ids (so as not to confuse them), which LiteDB happily accepts as the Id (_id) field of a record. However, I get an error as soon as I try to include the same type in a Map, or when I try to look up a value by Id.

Given these types,

[code]

I can successfully insert a record like this:

[code]

And I can get the record back with `F

[2021-04-06 08:53] humhei opened #55 "Single private case union support"
`Single private case union` is widely used in [Domain Driven Design](https://fsharpforfunandprofit.com/posts/designing-with-types-single-case-dus/)
,
I would like to implement it to LiteDB.FSharp,
how do you think? @Zaid-Ajaj

[2021-04-06 09:03] humhei opened #56 "Left nested getter is not get worked"
![image](https://user-images.githubusercontent.com/25994449/113686457-db961000-96f9-11eb-9f84-bf0000a0b30e.png)
This test passed

![image](https://user-images.githubusercontent.com/25994449/113686482-e2248780-96f9-11eb-81bd-a90c3cdb90cd.png)
While this test is fail

[2021-04-07 05:56] humhei opened #59 "Query with enum is not supported"
[code]

![image](https://user-images.githubusercontent.com/25994449/113817520-0ab78a80-97a9-11eb-9318-173d7c9fd8af.png)

`System.InvalidCastException: 'Value is not a valid BSON data type - Use Mapper.ToDocument for more complex types converts'`

[2021-04-10 04:47] humhei commented on #55
It's more than a experiment,
It has some limition
For example
[code]

It's hard to querable for further quotations as the **private** `(name: string * age: int * specficInfo: SpecficInfo)` is mising

While if it's **public** ,
You can reslove it in quotation expression and do more typed query
[code]

An workaround is to implement  `ICaseInfo<'T>` to add the addtional caseInfo
[code]

[2021-04-12 02:26] humhei opened #62 "(de)serialization of record with tuple datas not works"
[code]
This test get failed

[2021-04-25 01:17] #55 closed

[2021-04-25 01:18] #56 closed

[2021-04-25 01:18] #62 closed

[2021-04-25 01:19] #59 closed

[2021-04-25 02:50] Zaid-Ajaj commented on #52
Hi @ericnething this took a while but now using single case union as an ID should work as of v2.16

[2021-04-25 02:50] #52 closed

[2021-04-25 02:51] Zaid-Ajaj commented on #50
Replaced FAKE with a simple console app that uses some of FAKE modules. Now to build or test the application:
[code]
etc.

[2021-04-25 02:51] #50 closed

[2021-04-25 02:53] Zaid-Ajaj commented on #46
As of v2.16 LiteDB.FSharp will not change the value back to UTC when persisting `DateTime` instances

[2021-04-25 02:53] #46 closed

[2021-04-25 02:54] #42 closed

[2021-06-28 14:11] pedersorensen opened #64 "String.StartsWith not supported in quotation queries"
LiteDB has a `Query.StartsWith` method that would make sense to use when writing quotation queries like this:
[code]
The query above currently just throws an exception.

[2021-09-16 05:44] baioc opened #65 "Sets can be written to the DB, but not read"
### Description

Trying to read an object which contains a `Set` as a field causes a runtime error.
Writes don't cause such a crash, but it is not clear whether the data was correctly stored.

### Repro code

[code]

### Error information

When running the previous snippet, this is the stack trace I get:

[code]

[2021-09-18 18:59] Blener opened #66 "Nullable DateTime throwing exception"
Hi @Zaid-Ajaj
Nullable DateTime is throwing when trying to read from the database. When inserting the value in the database, the JToken used is StartObject, but when reading it expects DateTime, that throws an exception.

![image](https://user-images.githubusercontent.com/7217205/133905684-eb1fe059-31b8-4103-a65d-687f51f140c9.png)

These are the test cases:
[code]